/* start global rules  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --light_p : #777;
}
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

/* main header================= */
.section {

  padding: 100px;
}
 .mainheader {

  text-align: center;
}
 .mainheader h2 {
    position: relative;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 70px;
  text-transform: uppercase;
  /* background-color: rgb(164, 202, 108); */
  /*  */
  
}
 
    /* background-color: #333; */
 .mainheader h2::after {
  content: "";
  position: absolute;
  margin-bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  background-color: rgb(14, 13, 13);
  width: 120px;
  height: 2px;
 
}
 .mainheader h2::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
    transform: translateX(-50%);
  border-radius: 50px;
  width: 12px;
  height: 12px;
  border: 1px solid rgb(15, 14, 14);
  background-color: rgb(250, 247, 247);
  z-index: 3;
}
 .mainheader p {
  width: 550px;
  margin: 0 auto 100px ;
  max-width: 100%;
  line-height: 2;
  color: #777;
}

/* main header================= */

/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules  */

/* .active{
  background-color: var(--main-color);
} */

